.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/MP_verify_FLAOOUUBgu3VQ7F9.txt
dist/MP_verify_w6CmTQqWzUxpdkVW.txt

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
